@font-face{
  font-family:"MyFont";
  src:url("/fonts/MyFont-Variable.woff2") format("woff2-variations");
  font-weight:100 900;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"MyCode";
  src:url("/fonts/JetBrainsMono-Variable.woff2") format("woff2-variations");
  font-weight:100 800;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Yekan Bakh";
  src:url("/fonts/YekanBakhFamily/YekanBakh-Thin.ttf") format("truetype");
  font-weight:100;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Yekan Bakh";
  src:url("/fonts/YekanBakhFamily/YekanBakh-Light.ttf") format("truetype");
  font-weight:300;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Yekan Bakh";
  src:url("/fonts/YekanBakhFamily/YekanBakh-Regular.ttf") format("truetype");
  font-weight:400;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Yekan Bakh";
  src:url("/fonts/YekanBakhFamily/YekanBakh-SemiBold.ttf") format("truetype");
  font-weight:600;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Yekan Bakh";
  src:url("/fonts/YekanBakhFamily/YekanBakh-Bold.ttf") format("truetype");
  font-weight:700;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Yekan Bakh";
  src:url("/fonts/YekanBakhFamily/YekanBakh-ExtraBold.ttf") format("truetype");
  font-weight:800;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Yekan Bakh";
  src:url("/fonts/YekanBakhFamily/YekanBakh-Black.ttf") format("truetype");
  font-weight:900;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Yekan Bakh";
  src:url("/fonts/YekanBakhFamily/YekanBakh-ExtraBlack.ttf") format("truetype");
  font-weight:950;
  font-style:normal;
  font-display:swap;
}
:root{
  --ifm-font-family-base:"Yekan Bakh", "MyFont", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --ifm-font-family-monospace:"MyCode", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
}
